<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-webpack-transpiler" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>WebpackTranspilerBundler</name>
    <description>Transpile and bundle with WebPack</description>
    <author>Kerri Shotts (kerrishotts@gmail.com)</author>
    <keywords>cordova, typescript, babel, transpile, bundle, webpack, es2015, es6</keywords>
    <repo>https://github.com/kerrishotts/cordova-plugin-webpack-transpiler</repo>
    <license>Apache 2.0</license>

    <preference name="TRANSPILER" default="typescript" />
    <preference name="MODE" default="sibling" />

    <hook type="before_prepare" src="scripts/beforePrepare.js" />
    <hook type="after_prepare" src="scripts/afterPrepare.js" />
</plugin>
